/* color palette from <https://github.com/vuejs/theme> */

/* body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
body{
  background-color: #F6F6F6;
}

.navigation-header{
  background-color: #54626F !important;
   
}
.navigation-footer{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
 
}
/* Custom button green css */
.btn-green{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: 300px;
  height: 44px;
  background: #0FC9BE;
  border-radius: 25px;
}
/* custom a link css */
.a-link{
  color: #979494;
  text-decoration: none;
  cursor: pointer;
}
.a-link:hover{
  color: #0FC9BE;
}

