@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700&family=Montserrat:wght@400;600&display=swap');

/* ------------------------ */
/* Custom Properties */
/* ------------------------ */
:root {
  /* Colors hsl*/
  --mems-clr-white: hsl(0, 0%, 100%);
  --mems-clr-light: hsl(0, 0%, 96%);
  --mems-clr-black: hsl(0, 0%, 0%);
  --mems-clr-black-coral: hsl(209, 14%, 38%);
  --mems-clr-gray: hsl(240, 5%, 34%);
  --mems-clr-green: hsl(176, 86%, 42%);
  --mems-clr-navy-blue: hsl(205, 86%, 42%);

  /* font sizes */
  --mems-fs-2xl: 3.125rem;
  /* 50px */
  --mems-fs-xl: 1.25rem;
  /* 20px */
  --mems-fs-lg: 1.125rem;
  /* 18px */
  --mems-fs-md: 1rem;
  /* 16px */
  --mems-fs-sm: 0.875rem;
  /* 14px */
  --mems-fs-xs: 0.75rem;
  /* 12px */

  /* font families */
  --mems-ff-base: 'Inter', sans-serif;
  --mems-ff-other: 'Montserrat', sans-serif;
}

/* ------------------------ */
/* Resets */
/* ------------------------ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Resets */
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-weight: 400;
}

/* Body */
/* body {
  background-color: var(--mems-clr-green);
  font-family: var(--mems-ff-base);
  font-size: var(--mems-fs-sm);
  color: hsl(var(--mems-clr-black));
  line-height: 1.5;
  min-height: 100vh;
} */

/* Images */
img {
  max-width: 100%;
  display: block;
}

/* Forms Inherit */
input,
button,
select,
textarea {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.mems {
  background-color: var(--mems-clr-light);
  padding-bottom: 1.875em;
  height: 100vh;
}

.nav {
  background-color: var(--mems-clr-black-coral)
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.section {
  background-color: var(--mems-clr-white);
  padding: 1.25em;
  display: grid;
}

.app-name {
  color: var(--mems-clr-white)
}

.user-name {
  color: var(--mems-clr-white)
}

.partner {
  color: var(--mems-clr-white)
}

.title,
.sub-title {
  color: var(--mems-clr-gray);
}

.section-title {
  color: var(--mems-clr-black);
  letter-spacing: 0.05em;
}

.title {
  font-family: var(--mems-ff-base);
  font-size: var(--mems-fs-2xl);
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1em;
}

.sub-title {
  font-family: var(--mems-ff-base);
  font-size: var(--mems-fs-sm);
}

.section-title {
  font-family: var(--mems-ff-base);
  font-size: var(--mems-fs-lg);
  font-weight: 500;
}

.app-name {
  font-family: var(--mems-ff-other);
  font-size: var(--mems-fs-sm);
  font-weight: 600;
}

.user-name {
  font-family: var(--mems-ff-other);
  font-size: var(--mems-fs-sm);
}

.brand {
  padding: 0.5em;
}

.partner {
  font-family: var(--mems-ff-other);
  font-size: var(--mems-fs-xs)
}