// .welcome-page{
//     margin: 0;
// }

@import "../../../GLOBAL/Styles/colors.scss";

.contentPage{
  height: 75vh;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contentPage::-webkit-scrollbar {
  display: none;
}
