@import "../../../GLOBAL/Styles/colors.scss";
@import "../../../GLOBAL/Styles/font-style.scss";

.mems {
  background-color: $InvisibleSilver;
}

.title {
  color: $FollowerGrey;
  font-family: inherit;
  // font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

.sub-title {
  color: $FollowerGrey;
  font-family: inherit;
  // font-size: var(--mems-fs-sm) ;
  font-weight: 400;
}

.section-title {
  color: $Black;
  letter-spacing: 0.05em;
  font-family: inherit;
  // font-size: var(--mems-fs-lg);
  font-weight: 500;
}

.section {
  background-color: $White;
  margin-top: 50px;
}
