// Phone Screen
@media screen and (min-width: 100px) and (max-width: 900px) {
  .fs2xl {
    font-size: 1.875rem; // 30px
  }
  .fsXl {
    font-size: 1.25rem; // 20px
  }
  .fsLg {
    font-size: 1rem; // 16px
  }
  .fsMd {
    font-size: 0.875rem; // 14px
  }
  .fsSm {
    font-size: 0.75rem; // 12px
  }
  .fsXs {
    font-size: 0.75rem; // 12px
  }
}

// Tablet Screen
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .fs2xl {
    font-size: 2.25rem; // 36px
  }
  .fsXl {
    font-size: 1.25rem; // 20px
  }
  .fsLg {
    font-size: 1rem; // 16px
  }
  .fsMd {
    font-size: 0.875rem; // 14px
  }
  .fsSm {
    font-size: 0.75rem; // 12px
  }
  .fsXs {
    font-size: 0.75rem; // 12px
  }
}

// Laptop Screen
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .fs2xl {
    font-size: 2.625rem; // 42px
  }
  .fsXl {
    font-size: 1.25rem; // 20px
  }
  .fsLg {
    font-size: 1.125rem; // 18px
  }
  .fsMd {
    font-size: 1rem; // 16px
  }
  .fsSm {
    font-size: 0.875rem; // 14px
  }
  .fsXs {
    font-size: 0.755rem; // 12px
  }
}

// Desktop
@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .fs2xl {
    font-size: 3.125rem; // 50px
  }
  .fsXl {
    font-size: 1.25rem; // 20px
  }
  .fsLg {
    font-size: 1.125rem; // 18px
  }
  .fsMd {
    font-size: 1rem; // 16px
  }
  .fsSm {
    font-size: 0.875rem; // 14px
  }
  .fsXs {
    font-size: 0.755rem; // 12px
  }
}
