/*
***********************************
*  Created By : Reveal IQ         *
*  Author     : Bharathi          *
*  Date       : 28 OCT 2020       *
*  Version    : 0.1.0.01.02-1021  *
***********************************
*/
$DeepBlue:#2980B9;
$WetAsphalt: #34495E;
$InvisibleSilver:#ECF0F1;
$FollowerGrey: #90A4AE;
$AOkayGreen: #27AE60;
$WarningOrange:#E67E22;
$AlertRed:#C0392B;
$AllDone:#16A085;
$PandaBlue: #607D8B;
$RevealTeal: #10607B;
$White:#FFFFFF;
$Black:#000000;
$DarkOrchid: #9C27B0;
$OrangePeel: #FF9800;
$Heather: #BDC3C7;
$AliceBlue: #ECEFF1;
$DarkGrey: #7d7d7d;
$StrongBlue: #2980b9;
$LightGrayishCyan: #F6FBFC;

/* Variables declared according to USLGN Designs V 6.0 */
$buttonColorDefault:rgba(19, 77, 116, 1);
$error:rgba(243, 156, 18, 1);
$success:rgba(136, 224, 23, 1);
$default:rgba(255, 255, 255, 1);
$notifyColorDefault:rgba(39, 174, 96, 1);

/* Variables declared according to REGIT Designs V 0.6 */
$globalButtonColor : #57AECB;
$globalErrorColor : #E93D3D;
$globalDisableColor: #ADADAD;
$globalSuccessButton: #27AE60;
$iconColorREGIT: #E67E22;



