/*
***********************************
*  Created By : Reveal IQ         *
*  Author     : Bharathi          *
*  Date       : 28 OCT 2020       *
*  Version    : 0.1.0.01.03-1020  *
***********************************
*/
.searchDropdown::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
}
.searchDropdown{
   color:#FFFFFF;
   padding:3px 0 3px 10px;
   margin:5% 2% 5% 2%;
   background:rgba(255, 255, 255, 0.3);
   border-radius: 2px;
   width:96%;
   border:0;
   outline:0;
}
#dropdownoption {
   margin:0 0 5% 0;
   cursor: pointer;  
   padding:1px 0 1px 10px;
   text-transform: capitalize;
 }
 #dropdownoption:hover {
  padding:1px 0 1px 10px;
  cursor: pointer;
  margin:0 0 5% 0;
  
   text-transform: capitalize;
   background:  rgba(255, 255, 255, 0.2);
   color: #ffffff
 }
 .menuSpace{
   width:95%;
   min-width:content;
   margin:10px 0 0px 0;
 }
 .DropdownText{
    font-weight:bolder;
 }