/*
***********************************
*  Created By : Reveal IQ         *
*  Author     : Bharathi          *
*  Date       : 28 OCT 2020       *
*  Version    : 0.1.0.01.01-1020  *
***********************************
*/
@media screen and (min-width: 100px) and (max-width: 900px) {
  .headerText {
    font-size: 19px;
  }
  .xlargeText {
    font-size: 18px;
  }
  .largeText {
    font-size: 16px;
  }
  .mediumText {
    font-size: 12px;
  }
  .bodyText {
    font-size: 12px;
  }
  .smallText {
    font-size: 12px;
  }
  .versionSub {
    font-size: 10px;
  }
  .versionSmall {
    font-size: 8px;
  }
  .versionLittle {
    font-size: 6px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .headerText {
    font-size: 21px;
  }
  .xlargeText {
    font-size: 18px;
  }
  .largeText {
    font-size: 16px;
  }
  .mediumText {
    font-size: 12px;
  }
  .bodyText {
    font-size: 12px;
  }
  .smallText {
    font-size: 12px;
  }
  .versionSub {
    font-size: 10px;
  }
  .versionSmall {
    font-size: 8px;
  }
  .versionLittle {
    font-size: 6px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .headerText {
    font-size: 19px;
  }
  .xlargeText {
    font-size: 18px;
  }
  .largeText {
    font-size: 18px;
  }
  .mediumText {
    font-size: 16px;
  }
  .bodyText {
    font-size: 14px;
  }
  .smallText {
    font-size: 12px;
  }
  .versionSub {
    font-size: 10px;
  }
  .versionSmall {
    font-size: 8px;
  }
  .versionLittle {
    font-size: 6px;
  }
}
@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .headerText {
    font-size: 20px;
  }
  .xlargeText {
    font-size: 18px;
  }
  .largeText {
    font-size: 18px;
  }
  .mediumText {
    font-size: 16px;
  }
  .bodyText {
    font-size: 13px;
  }
  .smallText {
    font-size: 11px;
  }
  .versionSub {
    font-size: 10px;
  }
  .versionSmall {
    font-size: 8px;
  }
  .versionLittle {
    font-size: 6px;
  }
}
